<div class="row showtime">
  <ul class="nav nav-tabs">
    <li class="nav-item ">
        <a class="nav-link active px-4" data-toggle="tab" (click)="ChonLoaiTin('DienAnh')">Điện Ảnh </a>
    </li>
    <li class="nav-item ">
        <a class="nav-link px-4 " data-toggle="tab" (click)="ChonLoaiTin('ReView')">Review</a>
    </li>
    <li class="nav-item ">
      <a class="nav-link px-4 " data-toggle="tab" (click)="ChonLoaiTin('KhuyenMai')">Khuyến Mãi</a>
  </li>
</ul>
</div>
<div class="row" [ngSwitch]="LoaiTinTuc">
  <div *ngSwitchCase="'DienAnh'" class="col-12">
    <app-dien-anh></app-dien-anh>
  </div>
  <div *ngSwitchCase="'ReView'" class="col-12">
    <app-re-view></app-re-view>
  </div>
  <div *ngSwitchCase="'KhuyenMai'"class="col-12">
    <app-khuyen-mai></app-khuyen-mai>
  </div>
</div>