<div class="footer-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-lg-3 col-sm-6 col-xs-6">
        <ul class="list-unstyled clear-margins">
          <li class="widget-container widget_nav_menu">
            <h1 class="title-widget">GIỚI THIỆU</h1>
            <ul>
              <li>
                <a href="#">
                  <i class="fa fa-angle-double-right"></i>
                  Về chúng tôi
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-angle-double-right"></i>
                  Thoả thuận sử dụng
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-angle-double-right"></i>
                  Quy chế hoạt động
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-angle-double-right"></i>
                  Chính sách bảo mật
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="col-md-3 col-lg-3 col-sm-6 col-xs-6">
        <ul class="list-unstyled clear-margins">
          <li class="widget-container widget_nav_menu">
            <h1 class="title-widget">GÓC ĐIỆN ẢNH</h1>
            <ul>
              <li>
                <a href="#">
                  <i class="fa fa-angle-double-right"></i>
                  THỂ LOẠI PHIM
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-angle-double-right"></i>
                  BÌNH LUẬN PHIM
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-angle-double-right"></i>
                  BLOG ĐIỆN ẢNH
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-angle-double-right"></i>
                  PHIM HAY THÁNG
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="col-md-3 col-lg-3 col-sm-6 col-xs-6">
        <ul class="list-unstyled clear-margins">
          <li class="widget-container widget_nav_menu">
            <h1 class="title-widget">HỖ TRỢ </h1>
            <ul>
              <li>
                <a href="#">
                  <i class="fa fa-angle-double-right"></i>
                  GÓP Ý
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-angle-double-right"></i>
                  SALE & SERVICES
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-angle-double-right"></i>
                  RẠP / GiÁ VÉ
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-angle-double-right"></i>
                  TUYỂN DỤNG
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="col-md-3 col-lg-3 col-sm-6 col-xs-6">
        <ul class="list-unstyled clear-margins">
          <li class="widget-container widget_nav_menu">
            <h1 class="title-widget">KẾT NỐI GALAXY CINEMA</h1>
            <div class="social-icons">
              <ul class="nomargin">
                <a href="#">
                  <i class="fa fa-facebook-official social-fb" aria-hidden="true"></i>
                </a>
                <a href="#">
                  <i class="fa fa-youtube social-youtube" aria-hidden="true"></i>
                </a>
                <a href="#">
                  <i class="fa fa-instagram social-ins" aria-hidden="true"></i>
                </a>
              </ul>
            </div>
            <h1 class="title-widget">DOWNLOAD APP</h1>
            <div class="social-icons">
              <ul class="nomargin">
                <a href="#">
                  <i class="fa fa-apple social-store" aria-hidden="true"></i>
                </a>
                <a href="#">
                  <i class="fa fa-google-wallet social-store" aria-hidden="true"></i>
                </a>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="footer-bottom footer-line">
  <div class="container">
    <div class="row">
      <div class="col-md-12 ">
        <div class="copyright">
          <p class="text-center">© 2019 <strong>MOVIE PROJECT</strong>. All Rights Reserved</p>
        </div>
      </div>
    </div>
  </div>
</div>