<div class="container m-5">
  <div class="row">
    <div class="col-4 pd-4 m-4 pb-4 border text-center">
      <h1 class="m-3 text-center text-dark">ĐẶT GHẾ</h1>
      <app-ghe *ngFor="let ghe of DanhSachGhe" [itemghe]='ghe' (emitStatus)="DatGheParent($event,ghe)"></app-ghe>
      <hr>
      <p *ngFor="let dsghe of danhSachGheDangDat">
        <span>Tên ghế: {{dsghe.TenGhe}}</span>
        <span>Giá: {{dsghe.Gia}}</span>
      </p>
      <p>Số ghế đã đặt:{{soGheDaDat}}</p>
      <p>Số ghế còn lại:{{soGheConLai}}</p>
    </div>
  </div>
</div>