.table tbody > tr > td {
    width: 40px;
    font-weight: 600;
    font-size: 1rem;
    padding-top: 7px;
    height: 24px;
    color: #000;
}

.giaghe {
    color: rgb(75, 172, 75);
    font-size: 20px;
    letter-spacing: 2px;
}
.text-ghe {
    font-size: 20px;
    letter-spacing: 2px;
    padding: 0 15px;
}
.dsGheconlai p{
    letter-spacing: 3px;
    font-weight: 600;
    font-size: 20px;
}
.clear {
    clear: both;
}
.ghe-template {
    display: grid;
    grid-template-columns:repeat(2,60px) repeat(6,50px)  repeat(2,60px);
    grid-template-rows: 50px 50px 80px 50px 50px 50px ;
    justify-content: center;    
}
.danhsach_all {
    border: 1px solid #dee2e6;
}
.danhsach_all .danhsach-text{
    margin: 20px;
}
.danhsach_all .gheduocdat {
    border-bottom: 1px solid #dee2e6;
    margin: 20px;
}
.btn_ghe {
    width: 100%;
    padding: 10px 20px;
    font-size: 22px;
}