<div class="container">
  <div class="row">
    <div class="col-5 mx-auto">

      <form #formDK="ngForm" (ngSubmit)="signUp( formDK )">
        <div *ngIf="statusTheNguoiDung; else theCapNhat" >
          <h4  #theNguoiDung class="display-4">Thêm người dùng</h4>
        </div>
        <ng-template #theCapNhat>
          <h4  #theNguoiDung class="display-4">Cập nhật người dùng</h4>
        </ng-template>
        <div class="form-group">
          <label for="">Tài Khoản</label>
          <input type="text" required #tk="ngModel" class="form-control" name="TaiKhoan" ngModel>
          <!-- Thông báo lỗi -->
          <div *ngIf="tk.errors && (tk.touched || tk.dirty || formDK.submitted)">
            <div *ngIf="tk.errors.required" class="alert alert-danger">
              * Vui lòng nhập tài khoản
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="">Mật Khẩu</label>
          <input type="text" required maxlength="16" minlength="8" #mk="ngModel" class="form-control" name="MatKhau" ngModel>
          <!-- Thông báo lỗi mật khẩu -->
          <div *ngIf=" mk.errors && (mk.touched || mk.dirty || formDK.submitted ) ">
            <div *ngIf="mk.errors.required" class="alert alert-danger">
              * Vui lòng nhập mật khẩu
            </div>

            <div *ngIf="mk.errors.minlength" class="alert alert-warning">
              * Mật khẩu phải có tối thiểu là {{mk.errors.minlength.requiredLength}} ký tự
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="">Họ Tên: </label>
          <input type="text" required #ht="ngModel" class="form-control" name="HoTen" ngModel
          [pattern]='"^[a-zA-Z_ÀÁÂÃÈÉÊÌÍÒÓÔÕÙÚĂĐĨŨƠàáâãèéêìíòóôõùúăđĩũơƯĂẠẢẤẦẨẪẬẮẰẲẴẶ" +
          "ẸẺẼỀỀỂẾưăạảấầẩẫậắằẳẵặẹẻẽềềểếỄỆỈỊỌỎỐỒỔỖỘỚỜỞỠỢỤỦỨỪễệỉịọỏốồổỗộớờởỡợ" +
          "ụủứừỬỮỰỲỴÝỶỸửữựỳỵỷỹ\\s]+$"'>
          <!-- Thông báo lỗi họ tên -->
          <div *ngIf="ht.errors && (ht.touched || ht.dirty || formDK.submitted )">
            <div *ngIf="ht.errors.pattern" class="alert alert-danger">
              * Họ tên phải là chữ cái
            </div>

          </div>
        </div>
        <div class="form-group">
          <label for="">Email</label>
          <input type="email" email #email="ngModel" class="form-control" name="Email" ngModel>
          <div *ngIf="email.errors && (email.touched || email.dirty || formDK.submitted )">
            <div *ngIf="email.errors.email" class="alert alert-danger">
              * Email không đúng định dạng
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="">Số ĐT</label>
          <input type="text" class="form-control" #sodt="ngModel" name="SoDT" ngModel>
        </div>

        <div class="form-group">
          <label for="">Loại Người Dùng: </label>
          <input type="radio" name="MaLoaiNguoiDung" #maloainguoidung="ngModel" ngModel value="QuanTri"> Quản Trị
          <input type="radio" name="MaLoaiNguoiDung" #maloainguoidung="ngModel" ngModel value="KhachHang"> Khách Hàng
        </div>

        <div class="form-group">
          <button [disabled]="formDK.invalid" class="btn btn-success" type="submit">Lưu lại</button>
        </div>
      </form>

    </div>
  </div>
</div>