<!-- <div class="container">
  <div class="row">
    <div class="col-4 mx-auto">
      <h2>Thêm ghế</h2>
      <input type="text"class="form-control mb-2" #ten placeholder="Tên ghế">
      <input type="text"class="form-control mb-2" #soGhe placeholder="số ghế">
      <input type="text"class="form-control mb-2" #Gia placeholder="Giá">
      <input type="text"class="form-control mb-2" #trangthai placeholder="Trạng thái">
      <button class="btn btn-primary" (click)="themGheparent(ten.value,soGhe.value,Gia.value,trangthai.value)">Thêm ghế</button>
    </div>
  </div>
</div>
<app-danh-sachghe></app-danh-sachghe> -->