.view_all {
    margin-top: 20px;
    padding: 5px 30px;
}
.imgLC{
    width: 100%;
    height: 200px;
}
.view_text h2 {
    font-size: 20px;
    letter-spacing: 2px;
    padding-top: 10px;
}
.viewing i,.viewing span {
    display: inline-block;
    margin-right: 8px;
}
.btn_movie {
    border:1px solid #000;
    margin: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.btn_movie:hover {
    border: 1px solid #ec7532;
    background: #ec7532;
    color: white;
    transform: all .5s;
    -webkit-transform: all .5s;
    -moz-transform: all .5s;
    -ms-transform: all .5s;
    -o-transform: all .5s;
}