<form action="" method="POST" id="contact_form">
  <input type="text" name="name" class="form-control fadeInUp wow delay-1s" placeholder="Your Name" required>
  <input type="text" name="email" class="form-control fadeInLeft wow delay-2s" placeholder="Your Email" required>
  <input type="number" name="phone" class="form-control fadeInRight wow delay-2s" placeholder="Number" required>
  <textarea name="message" class="form-control fadeInLeft wow delay-3s" placeholder="Message" rows="4"></textarea>
  <input type="submit" class="form-control submit fadeInDown wow delay-3s" value="SEND MESSAGE">
</form>
