#header{
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    padding:0 20px;
    z-index: 10;
    background-color:#f7f9fa;
}

.logo img{
    width: 100px;
}
#header .logo {
    display: inline-block;
    padding: 23px 0;
    text-align: center;
}
.primary-nav {
    padding: 25px 0;
}
.head-flex {
    display: flex;
    justify-content: center;
}
.nav-sign {
    padding: 30px 0;
    margin: 0 10px;
}
.signin, .signup,.loginsetting{
    color:#999 !important;
    text-decoration: none;
    font-size: 18px;
    display: flex;
    align-items: center;
}
.signin {
    border-right: 1px solid #999;
    padding-right: 20px;
}
.signin i {
    font-size:30px;
    margin-right:10px;
}
.loginsetting i.fa-user-circle {
    padding-right: 10px;
}
/* .dropdown-menu.show {
    position: absolute;
    top: 100px;
    left: 0;
    will-change: transform;
    transform: translate3d(30px, -25px ,0px);
    -webkit-transform: translate3d(30px, -25px ,0px);
    -moz-transform: translate3d(30px, -25px ,0px);
    -ms-transform: translate3d(30px, -25px ,0px);
    -o-transform: translate3d(30px, -25px ,0px);
} */
.clear {
    clear: both;
}
/* NAVBAR */
.galaxy-nav {
    background-color: #000000;
}
.navbar-dark .navbar-nav .nav-link {
    color: white;
    letter-spacing: 2px;
}
.navbar-expand-sm .navbar-nav .dropdown-menu {
    background-color: black;
}
.dropdown-item {
    color: white;
    padding: 30px 1.5rem;
}
.dropdown-item:focus, .dropdown-item:hover {
    color: #ec7532;
    background-color: black;
}
.navbar-nav .nav-item a:hover {
    color: #ec7532;
}
.nav-item {
    padding: 0px 30px;
    border-right: 1px solid white; 
}
.navbar-nav li:last-child{
    border-right: none;
}
.logout {
    cursor: pointer;
}

/* RESPONSIVE */
@media screen and (max-width: 768px) {
    .nav-sign {
        float: left;
    }
    .navbar-dark .navbar-nav .nav-link {
        color: white;
        letter-spacing: 0px;
    }
    .nav-item {
        padding: 5px 5px;
    }

}