/* You can add global styles to this file, and also import other style files */
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;  
}
.owl-prev{
    position: absolute;
    top:40%;
    left:-40px;
} 
.owl-next:hover span{
    background: none;
}
.owl-prev span{
    font-size:70px;
}
.owl-next{
    position: absolute;
    top:40%;
    right:-40px;
} 
.owl-next span{
    font-size:70px;
}
