<ul class="list-unstyled clear-margins">
  <li class="widget-container widget_nav_menu">
    <h1 class="title-widget"></h1>
    <ul>
      <li>
        <a href="#">
          <i class="fa fa-angle-double-right"></i>
          Về chúng tôi
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-angle-double-right"></i>
          Thoả thuận sử dụng
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-angle-double-right"></i>
          Quy chế hoạt động
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-angle-double-right"></i>
          Chính sách bảo mật
        </a>
      </li>
    </ul>
  </li>
</ul>